body {
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.99);
    background-color: rgba(51, 204, 51, 0.08); }

.text-center {
    text-align: center !important; }

.display-3 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 1;
    margin-block-end: auto;}

.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important; }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; }
@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px; } }
@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px; } }
@media (min-width: 992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px; } }
@media (min-width: 1200px) {
    .container {
        padding-right: 15px;
        padding-left: 15px; } }
@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%; } }
@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%; } }
@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%; } }
@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%; } }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
@media (min-width: 576px) {
    .row {
        margin-right: -15px;
        margin-left: -15px; } }
@media (min-width: 768px) {
    .row {
        margin-right: -15px;
        margin-left: -15px; } }
@media (min-width: 992px) {
    .row {
        margin-right: -15px;
        margin-left: -15px; } }
@media (min-width: 1200px) {
    .row {
        margin-right: -15px;
        margin-left: -15px; } }

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important; }
